    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

      <servers>
        <server>
          <id>accountservice-snapshots</id>
          <username>accountservice-user</username>
          <password>accountservice-user</password>
        </server>
        <server>
          <id>accountservice-releases</id>
          <username>accountservice-user</username>
          <password>accountservice-user</password>
        </server>
      </servers>

    </settings>
